:root {
  --background:#efefef;
}

.menu {
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: var(--background);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  z-index: 999;
}

.menu ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: -5px;
}

.menu a {
  display: inline;
  padding: 10px;
  line-height: 10px;
}

.menu a:hover {
  cursor: pointer;
}

.menu li{
  transition: 200ms;
}


.menu li:hover,
.ativa {
  font-size: 14pt;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.menu a.img-menu {
  height: 35px;
  padding: 0 ;
  line-height: 0;
}

.menu a > img {
  height: 100%;
}